/*=====================================
            Responsive
=====================================*/
@media (max-width: 339.98px) {

    .btn-search {
        font-size: 14px;
    }

    .manage-admin .text-left a {
        font-size: 14px;
    }
}

@media (max-width: 387.98px) {
    .members-span {
        top: -15px;
    }
}

@media (max-width: 405px) {
    .manage-admin span {
        top: 10px;
    }

    .note-U-R span {
        top: -15px;
    }
}

@media (max-width: 420px) {
    .pagination .page-link.number {
        color: #333333;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin-right: 5px;
    }

    .pagination .page-link span {
        width: 8px;
        height: 15px;
        color: #333333;
        background: none;
        padding: 0;
    }


    .block.NUR {
        padding: 15px;
    }


    /* login and forgot page */
    .form-container {
        padding: 20px !important;
    }

    .form-container h3 {
        font-size: 27px;
    }

    .form-container p.top {
        font-size: 14px;
        padding: 15px 0;
    }

    .form-container p.bottom {
        font-size: 13px;
    }

    .form-container .email {
        padding-bottom: 20px;
    }

    .form-check {
        padding-top: 10px;
        padding-bottom: 20px;
        margin: 0;
    }

    .page-at-center {
        top: 0;
    }

    .form-check-input {
        height: 20px;
        width: 20px;
    }

    .form-check-label {
        padding-left: 15px;
        padding-top: 5px;
    }

    /* manage category */
    .manage-admin h3 {
        padding-top: 10px;
        font-family: "Open Sans", sans-serif;
        font-size: 25px;
        font-weight: 600;
        line-height: 38px;
        color: #6255a5;
    }

    .col-md-6.text-right {
        text-align: left !important;
    }

    /* manage system configuration */
    .block.msc-profile-pic span {
        position: relative;
        top: -50px;
        left: 230px;
        /* right: -23px; */
    }

    /*my profile */
    .my-profile h3 {
        padding-top: 10px;
    }

    /*Member detail */
    .members-detail h3 {
        padding-top: 10px;
        padding-bottom: 0;
        margin-bottom: 0;
        font-family: "Open Sans", sans-serif;
        font-size: 30px;
        font-weight: 600;
        line-height: 38px;
        color: #6255a5;
    }

    .right-border {
        border-right: none;
    }

    .title {
        font-size: 12px;
    }

    .detail {
        font-size: 12px;
    }

    /* members */
    .members h3 {
        padding-top: 10px;
        padding-bottom: 0;
        margin-bottom: 0;
        font-family: "Open Sans", sans-serif;
        font-size: 30px;
        font-weight: 600;
        line-height: 38px;
        color: #6255a5;
    }

    /* Note Detail */
    #note-detail-top {
        padding-top: 10px;
    }

    #note-detail-top h5.title-section {
        margin-bottom: 10px;
    }

    #note-detail-top-wrapper .note-top-title {
        font-size: 12px;
    }

    #note-detail-top-wrapper p.dummy-text {
        font-size: 12px;
        margin-bottom: 20px;
    }

    #note-detail-top-wrapper h4.book-title {
        font-size: 30px;
    }

    #customer-review-wrapper .customer-name {
        font-size: 14px;
        margin-bottom: 5px;
    }

    #customer-review-wrapper .rating {
        margin-bottom: 5px;
    }

    #customer-review-wrapper .customer-review {
        font-size: 12px;
    }

    .padding-top-hide {
        padding-top: 0;
    }

    .padding-bottom-hide {
        padding-bottom: 0;
    }

    #note-detail-top-wrapper p.stream {
        font-size: 14px;
        margin-bottom: 20px;
    }

    #note-detail-top-wrapper span.note-top-description {
        font-size: 12px;
    }

    #dashboard-middle .right span.magnifier {
        position: relative;
        left: 11%;
        top: 10px;
        z-index: 1;
    }

    .upload-picture input.upload {
        padding-left: 0 !important;
    }

}

/*=====================================
            Xtra Small Responsive
=====================================*/

@media (max-width: 575.98px) {
    #dashboard-middle span.magnifier {
        left: 10%;
    }

    .right select {
        margin-top: 15px;
        margin-right: 15px;
    }

    #dashboard-middle .right span.magnifier {
        position: relative;
        left: 7%;
        top: 10px;
        z-index: 1;
    }

    .manage-admin span,
    .members-span {
        left: 7%;
    }

    .spam-report {
        font-size: 25px;
    }

    .search-side,
    .m-left-auto {
        margin-left: 0 !important;
    }

    .right select {
        margin-left: 15px;
    }

    .label-hide {
        display: none;
    }

    .phone-number {
        padding: 15px !important;
    }

    .upload-picture input.upload {
        padding-left: 20%;
    }

    .page-at-center {
        top: 2vh !important;
    }
}

/*=====================================
        sm (small)    Responsive
=====================================*/
@media (min-width: 576px) and (max-width: 767.98px) {

    .manage-admin .text-left a {
        font-size: 14px;
        padding: 0;
    }

    .btn-search {
        font-size: 14px;
    }

    .spam-report {
        font-size: 21px !important;
    }

    .m-left-auto-sm {
        margin-left: 0;
    }

    #dashboard-middle .right span.magnifier {
        position: relative;
        left: 5%;
        top: 10px;
        z-index: 1;
    }

    .my-profile .block label {
        font-size: 14px;
    }

    .download-span {
        left: 5% !important;
    }

    .upload-picture input.upload {
        padding: 80px 0 0 28%;
    }
}

@media (max-width: 767.98px) {

    /*.container .row [class*=col-] {
        padding-top: 0;
        padding-bottom: 0;
    }*/
    .block.NUR.col-4 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .block.text-right {
        padding-top: 0;
        padding-bottom: 0;
    }


    /*Manage things */
    .manage-admin h3 {
        padding-top: 10px;
    }

    .my-profile h3 {
        padding-top: 10px;
    }

    .members h3 {
        padding-top: 10px;
    }

    .members-detail h3 {
        padding-top: 10px;
    }

    #note-detail-top {
        padding-top: 10px;
    }

    .padding-top-hide {
        padding-top: 0;
    }

    .margin-bottom-hide-md {
        margin-bottom: 0;
    }

    #dashboard-top {
        padding-top: 20px;
    }
}

/*=====================================
         md (Medium)    Responsive
=====================================*/
@media (min-width: 768px) and (max-width: 991.98px) {
    #dashboard-top .block h5 {
        font-size: 26px;
    }

    #dashboard-top .block p {
        font-size: 15px;
    }

    /* Manage things */
    .manage-admin h3 {
        padding-top: 15px;
    }

    /* My profile */
    .my-profile h3 {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .spam-report {
        font-size: 30px !important;
    }

    .members h3 {
        padding-top: 15px;
    }

    .members-detail h3 {
        padding-top: 15px;
    }

    #note-detail-top {
        padding-top: 15px;
    }

    .padding-bottom-hide {
        padding-bottom: 0;
    }

    .padding-top-hide-md {
        padding-top: 0;
    }

    .margin-bottom-hide-md {
        margin-bottom: 0;
    }

    #dashboard-middle .right span.magnifier {
        position: relative;
        left: 15%;
        top: 10px;
        z-index: 1;
    }

    .btn-search {
        background-color: #6255a5;
        width: 117px;
        height: 50px;
        border-radius: 3px;
        color: #fff;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        margin: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .manage-admin .text-left a {
        font-size: 16px;
    }

    #dashboard-middle .left h6 {
        font-size: 20px;
    }

    #dashboard-top {
        padding-top: 20px;
    }

    .upload-picture input.upload {
        padding: 80px 0 0 28%;
    }

}

/*=====================================
         Lg (Large)   Responsive
=====================================*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    #note-detail-top {
        padding-top: 20px;
    }

    .manage-admin h3 {
        padding-top: 20px;
    }

    .members h3 {
        padding-top: 20px;
    }

    .members-detail h3 {
        padding-top: 20px;
    }

    .padding-bottom-hide {
        padding-bottom: 0;
    }

    .my-profile h3 {
        padding-top: 20px;
    }

    .padding-top-hide-md {
        padding-top: 0;
    }

    .upload-picture input.upload {
        padding: 80px 0 0 27%;
    }
}

/*====================================
            Height Media Queries
====================================*/

@media (min-height: 432px) and (max-height: 531.98px) and (max-width: 576px) {
    #login-page .bg {
        height: 159vh;
    }

    #forgot-password-page .bg {
        height: 109vh;
    }

}

@media (min-height: 432px) and (max-height: 531.98px) and (min-width: 576px) {
    #login-page .bg {
        height: 170vh;
    }

    #forgot-password-page .bg {
        height: 131vh;
    }

}

@media (min-height: 532px) and (max-height: 600.98px) and (max-width: 576px) {
    #login-page .bg {
        height: 129vh;
    }

}

@media (min-height: 532px) and (max-height: 600.98px) and (min-width: 576px) {
    #login-page .bg {
        height: 140vh;
    }

    #forgot-password-page .bg {
        height: 110vh;
    }

}

@media (min-height: 601px) and (max-height: 720px) and (max-width: 576px) {
    #login-page .bg {
        height: 113vh;
    }

}

@media (min-height: 601px) and (max-height: 720px) and (min-width: 576px) {
    #login-page .bg {
        height: 125vh;
    }

}

@media (min-height: 721px) and (max-height: 820px) and (min-width: 576px) {
    #login-page .bg {
        height: 109vh;
    }
}
