USE [master]
GO
/****** Object:  Database [NoteMarketPlace]    Script Date: 12-04-2021 12:55:58 ******/
CREATE DATABASE [NoteMarketPlace]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NoteMarketPlace', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\NoteMarketPlace.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NoteMarketPlace_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\NoteMarketPlace_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NoteMarketPlace].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NoteMarketPlace]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 12-04-2021 12:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[CountryCode] [varchar](100) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Downloads]    Script Date: 12-04-2021 12:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Downloads](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NoteID] [int] NOT NULL,
	[Seller] [int] NOT NULL,
	[Downloader] [int] NOT NULL,
	[IsSellerHasAllowedDownloads] [bit] NOT NULL,
	[AttachmentPath] [varchar](max) NULL,
	[IsAttachmentDownloaded] [bit] NOT NULL,
	[AttachmentDownloadDate] [datetime] NULL,
	[IsPaid] [bit] NOT NULL,
	[PurchasedPrice] [decimal](18, 0) NULL,
	[NoteTitle] [varchar](100) NOT NULL,
	[NoteCategory] [varchar](100) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_Downloads] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 12-04-2021 12:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](15) NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoteCategories]    Script Date: 12-04-2021 12:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoteCategories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_NoteCategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoteReports]    Script Date: 12-04-2021 12:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoteReports](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NoteID] [int] NOT NULL,
	[ReportedByID] [int] NOT NULL,
	[DownloaderID] [int] NOT NULL,
	[Remarks] [varchar](max) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_Reports] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoteReviews]    Script Date: 12-04-2021 12:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoteReviews](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NoteID] [int] NOT NULL,
	[ReviewedByID] [int] NOT NULL,
	[DownloadsID] [int] NOT NULL,
	[Ratings] [decimal](18, 0) NOT NULL,
	[Comments] [varchar](max) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoteTypes]    Script Date: 12-04-2021 12:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoteTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_NoteTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reference]    Script Date: 12-04-2021 12:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reference](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Value] [varchar](100) NOT NULL,
	[RefCategory] [varchar](100) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Reference] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellNoteAttachments]    Script Date: 12-04-2021 12:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellNoteAttachments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NoteID] [int] NOT NULL,
	[FileName] [varchar](100) NOT NULL,
	[FilePath] [varchar](max) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_SellNoteAttachments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellNotes]    Script Date: 12-04-2021 12:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellNotes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SellerID] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[ActionedBy] [int] NOT NULL,
	[AdminRemarks] [varchar](max) NULL,
	[PublishedDate] [datetime] NULL,
	[Title] [varchar](100) NOT NULL,
	[Category] [int] NOT NULL,
	[DisplayPicture] [varchar](500) NULL,
	[NoteType] [int] NULL,
	[NumberOfPages] [int] NULL,
	[Discription] [varchar](max) NOT NULL,
	[UniversityName] [varchar](200) NULL,
	[Country] [int] NULL,
	[Course] [varchar](100) NULL,
	[CourseCode] [varchar](100) NULL,
	[Professor] [varchar](100) NULL,
	[IsPaid] [bit] NOT NULL,
	[SellingPrice] [decimal](18, 0) NULL,
	[NotesPreview] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[ApprovedBy] [int] NULL,
	[RejectedBy] [int] NULL,
	[AttachmentSize] [nvarchar](50) NULL,
 CONSTRAINT [PK_SellNotes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemConfiguration]    Script Date: 12-04-2021 12:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemConfiguration](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Keys] [varchar](100) NOT NULL,
	[Value] [varchar](max) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_SystemConfiguration] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfile]    Script Date: 12-04-2021 12:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfile](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[DOB] [datetime] NULL,
	[Gender] [int] NULL,
	[SecondaryEmailAddress] [varchar](100) NULL,
	[CountryCode] [varchar](5) NOT NULL,
	[PhoneNumber] [varchar](20) NOT NULL,
	[ProfilePicture] [varchar](500) NULL,
	[AddressLine1] [varchar](100) NOT NULL,
	[AddressLine2] [varchar](100) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[State] [varchar](50) NOT NULL,
	[ZipCode] [varchar](50) NOT NULL,
	[Country] [varchar](50) NOT NULL,
	[University] [varchar](100) NULL,
	[College] [varchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_UserProfile] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 12-04-2021 12:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12-04-2021 12:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[EmailID] [varchar](100) NOT NULL,
	[Password] [varchar](24) NOT NULL,
	[IsEmailVerified] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([ID], [Name], [CountryCode], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (1, N'India', N'+91', CAST(N'2021-03-04T21:22:00.000' AS DateTime), 3, CAST(N'2021-04-08T17:48:15.957' AS DateTime), 3, 1)
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[Downloads] ON 

INSERT [dbo].[Downloads] ([ID], [NoteID], [Seller], [Downloader], [IsSellerHasAllowedDownloads], [AttachmentPath], [IsAttachmentDownloaded], [AttachmentDownloadDate], [IsPaid], [PurchasedPrice], [NoteTitle], [NoteCategory], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (12, 30, 19, 20, 1, N'~/Members/19/30/Attachment/', 1, CAST(N'2021-04-08T21:08:33.683' AS DateTime), 1, CAST(200 AS Decimal(18, 0)), N'Computer', N'Science', CAST(N'2021-03-20T14:07:59.767' AS DateTime), 20, NULL, NULL)
INSERT [dbo].[Downloads] ([ID], [NoteID], [Seller], [Downloader], [IsSellerHasAllowedDownloads], [AttachmentPath], [IsAttachmentDownloaded], [AttachmentDownloadDate], [IsPaid], [PurchasedPrice], [NoteTitle], [NoteCategory], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (18, 30, 19, 21, 0, N'~/Members/19/30/Attachment/', 0, NULL, 1, CAST(200 AS Decimal(18, 0)), N'Computer', N'Science', CAST(N'2021-03-20T17:42:01.273' AS DateTime), 20, NULL, NULL)
INSERT [dbo].[Downloads] ([ID], [NoteID], [Seller], [Downloader], [IsSellerHasAllowedDownloads], [AttachmentPath], [IsAttachmentDownloaded], [AttachmentDownloadDate], [IsPaid], [PurchasedPrice], [NoteTitle], [NoteCategory], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (19, 30, 19, 22, 1, N'~/Members/19/30/Attachment/', 1, CAST(N'2021-04-08T16:15:38.673' AS DateTime), 1, CAST(200 AS Decimal(18, 0)), N'Computer', N'Science', CAST(N'2021-03-20T17:45:17.473' AS DateTime), 20, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Downloads] OFF
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([ID], [Name]) VALUES (1, N'Male')
INSERT [dbo].[Gender] ([ID], [Name]) VALUES (2, N'Female')
INSERT [dbo].[Gender] ([ID], [Name]) VALUES (3, N'Unknown')
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
SET IDENTITY_INSERT [dbo].[NoteCategories] ON 

INSERT [dbo].[NoteCategories] ([ID], [Name], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (1, N'Science', N'Science Stream', CAST(N'2021-03-05T00:09:00.000' AS DateTime), 1, CAST(N'2021-04-05T14:35:02.530' AS DateTime), 0, 1)
INSERT [dbo].[NoteCategories] ([ID], [Name], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (2, N'Economy', N'Lorem Ipsum Is great', CAST(N'2021-04-05T14:35:25.960' AS DateTime), 0, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[NoteCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[NoteReports] ON 

INSERT [dbo].[NoteReports] ([ID], [NoteID], [ReportedByID], [DownloaderID], [Remarks], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (4, 1035, 20, 25, N'Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  ', CAST(N'2021-03-27T13:47:44.753' AS DateTime), 4, NULL, NULL)
INSERT [dbo].[NoteReports] ([ID], [NoteID], [ReportedByID], [DownloaderID], [Remarks], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (7, 1035, 22, 25, N'lorem get this', CAST(N'2021-04-08T16:50:09.383' AS DateTime), 7, NULL, NULL)
SET IDENTITY_INSERT [dbo].[NoteReports] OFF
GO
SET IDENTITY_INSERT [dbo].[NoteReviews] ON 

INSERT [dbo].[NoteReviews] ([ID], [NoteID], [ReviewedByID], [DownloadsID], [Ratings], [Comments], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (1, 30, 20, 12, CAST(5 AS Decimal(18, 0)), N'Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  ', CAST(N'2021-03-27T13:42:05.313' AS DateTime), 1, NULL, NULL, 0)
INSERT [dbo].[NoteReviews] ([ID], [NoteID], [ReviewedByID], [DownloadsID], [Ratings], [Comments], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (4, 30, 20, 12, CAST(4 AS Decimal(18, 0)), N'Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  Lorem  ', CAST(N'2021-03-27T13:42:51.263' AS DateTime), 4, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[NoteReviews] OFF
GO
SET IDENTITY_INSERT [dbo].[NoteTypes] ON 

INSERT [dbo].[NoteTypes] ([ID], [Name], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (1, N'Fiction', N'Lorem Ipsum', CAST(N'2021-03-05T00:10:00.000' AS DateTime), 1, CAST(N'2021-03-05T00:10:00.000' AS DateTime), 1, 1)
INSERT [dbo].[NoteTypes] ([ID], [Name], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (2, N'novel ', N'Lorem Ipsum Is great', CAST(N'2021-04-05T14:01:59.487' AS DateTime), 0, CAST(N'2021-04-08T17:48:00.593' AS DateTime), 3, 1)
SET IDENTITY_INSERT [dbo].[NoteTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Reference] ON 

INSERT [dbo].[Reference] ([ID], [Value], [RefCategory], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (1, N'Free', N'Selling Mode', CAST(N'2021-02-10T18:22:00.000' AS DateTime), 1, CAST(N'2021-02-10T18:23:00.000' AS DateTime), 1, 1)
INSERT [dbo].[Reference] ([ID], [Value], [RefCategory], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (2, N'Paid', N'Selling Mode', CAST(N'2021-02-10T18:23:00.000' AS DateTime), 1, CAST(N'2021-02-10T18:24:00.000' AS DateTime), 1, 1)
INSERT [dbo].[Reference] ([ID], [Value], [RefCategory], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (3, N'Draft', N'Note Status', CAST(N'2021-02-10T18:24:00.000' AS DateTime), 1, CAST(N'2021-02-10T18:24:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Reference] OFF
GO
SET IDENTITY_INSERT [dbo].[SellNoteAttachments] ON 

INSERT [dbo].[SellNoteAttachments] ([ID], [NoteID], [FileName], [FilePath], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (5, 30, N'4.pdf', N'C:\Users\Brijendra\source\repos\NoteMarketPlace\WebApplication5MVCdemo\Members\19\30\Attachment\', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[SellNoteAttachments] ([ID], [NoteID], [FileName], [FilePath], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (7, 46, N'7.JPG', N'C:\Users\Brijendra\Desktop\Back on Git Repo\mvc\NoteMarketPlace\WebApplication5MVCdemo\Members\20\46\Attachment\', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[SellNoteAttachments] ([ID], [NoteID], [FileName], [FilePath], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (8, 47, N'8.JPG', N'C:\Users\Brijendra\Desktop\Back on Git Repo\mvc\NoteMarketPlace\WebApplication5MVCdemo\Members\20\47\Attachment\', NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[SellNoteAttachments] OFF
GO
SET IDENTITY_INSERT [dbo].[SellNotes] ON 

SET IDENTITY_INSERT [dbo].[SellNotes] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemConfiguration] ON 

INSERT [dbo].[SystemConfiguration] ([ID], [Keys], [Value], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (2, N'SupportEmail', N'brijendrasinhchavda2018@gmail.com', CAST(N'2021-04-06T16:44:00.000' AS DateTime), 3, NULL, NULL, 1)
INSERT [dbo].[SystemConfiguration] ([ID], [Keys], [Value], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (3, N'SupportPhoneNumber', N'9773149052', CAST(N'2021-04-06T16:44:00.000' AS DateTime), 3, NULL, NULL, 1)
INSERT [dbo].[SystemConfiguration] ([ID], [Keys], [Value], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (4, N'DefaultNotePicture', N'DefaultNotePicture.jpg', CAST(N'2021-04-06T16:44:00.000' AS DateTime), 3, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[SystemConfiguration] OFF
GO
SET IDENTITY_INSERT [dbo].[UserProfile] ON 

INSERT [dbo].[UserProfile] ([ID], [UserID], [DOB], [Gender], [SecondaryEmailAddress], [CountryCode], [PhoneNumber], [ProfilePicture], [AddressLine1], [AddressLine2], [City], [State], [ZipCode], [Country], [University], [College], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (1002, 1009, NULL, NULL, NULL, N'+91', N'9016816131', NULL, N'Admin', N'Admin', N'Admin', N'Admin', N'Admin', N'Admin', NULL, NULL, CAST(N'2021-04-06T11:28:16.880' AS DateTime), 0, CAST(N'2021-04-06T11:53:25.657' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[UserProfile] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([ID], [Name], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (1, N'Super Admin', N'everthing he can add , and full control of whole website', CAST(N'2021-02-11T18:32:00.000' AS DateTime), 1, CAST(N'2021-02-11T18:32:00.000' AS DateTime), 1, 1)
INSERT [dbo].[UserRoles] ([ID], [Name], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (2, N'Admin', N'any book he/she can sell or purchase notes', CAST(N'2021-02-11T18:33:00.000' AS DateTime), 1, CAST(N'2021-02-11T18:33:00.000' AS DateTime), 1, 1)
INSERT [dbo].[UserRoles] ([ID], [Name], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (3, N'Member', N'just downloader', CAST(N'2021-02-11T18:34:00.000' AS DateTime), 1, CAST(N'2021-02-11T18:34:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [RoleID], [FirstName], [LastName], [EmailID], [Password], [IsEmailVerified], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (3, 1, N'Brijendrasinh', N'Chavda', N'sedkeha1234@gmail.com', N'B1chavd@', 1, CAST(N'2021-02-23T18:41:00.000' AS DateTime), 3, CAST(N'2021-02-23T18:41:00.000' AS DateTime), 3, 1)
INSERT [dbo].[Users] ([ID], [RoleID], [FirstName], [LastName], [EmailID], [Password], [IsEmailVerified], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (19, 3, N'Viraj', N'Vaghela', N'virajvaghela@gmail.com', N'V1vaghel@', 1, CAST(N'2021-03-02T23:32:00.000' AS DateTime), 19, CAST(N'2021-03-02T23:32:00.000' AS DateTime), 19, 1)
INSERT [dbo].[Users] ([ID], [RoleID], [FirstName], [LastName], [EmailID], [Password], [IsEmailVerified], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (20, 3, N'Kamlesh', N'Vaghela', N'kamleshvaghela@gmail.com', N'K1vaghel@', 1, CAST(N'2021-03-02T23:34:00.000' AS DateTime), 20, CAST(N'2021-03-02T23:34:00.000' AS DateTime), 20, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_UserProfile]    Script Date: 12-04-2021 12:56:09 ******/
ALTER TABLE [dbo].[UserProfile] ADD  CONSTRAINT [IX_UserProfile] UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Countries] ADD  CONSTRAINT [DF_Countries_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[NoteCategories] ADD  CONSTRAINT [DF_NoteCategories_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[NoteReviews] ADD  CONSTRAINT [DF_Reviews_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[NoteTypes] ADD  CONSTRAINT [DF_NoteTypes_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Reference] ADD  CONSTRAINT [DF_Reference_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SellNoteAttachments] ADD  CONSTRAINT [DF_SellNoteAttachments_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SellNotes] ADD  CONSTRAINT [DF_SellNotes_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SystemConfiguration] ADD  CONSTRAINT [DF_SystemConfiguration_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserRoles] ADD  CONSTRAINT [DF_UserRoles_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsEmailVerified]  DEFAULT ((0)) FOR [IsEmailVerified]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Downloads]  WITH CHECK ADD  CONSTRAINT [FK_Downloads_Downloads] FOREIGN KEY([ID])
REFERENCES [dbo].[Downloads] ([ID])
GO
ALTER TABLE [dbo].[Downloads] CHECK CONSTRAINT [FK_Downloads_Downloads]
GO
ALTER TABLE [dbo].[Downloads]  WITH CHECK ADD  CONSTRAINT [FK_Downloads_SellNotes] FOREIGN KEY([NoteID])
REFERENCES [dbo].[SellNotes] ([ID])
GO
ALTER TABLE [dbo].[Downloads] CHECK CONSTRAINT [FK_Downloads_SellNotes]
GO
ALTER TABLE [dbo].[Downloads]  WITH CHECK ADD  CONSTRAINT [FK_Downloads_Users] FOREIGN KEY([Seller])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Downloads] CHECK CONSTRAINT [FK_Downloads_Users]
GO
ALTER TABLE [dbo].[Downloads]  WITH CHECK ADD  CONSTRAINT [FK_Downloads_Users1] FOREIGN KEY([Downloader])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Downloads] CHECK CONSTRAINT [FK_Downloads_Users1]
GO
ALTER TABLE [dbo].[NoteReports]  WITH CHECK ADD  CONSTRAINT [FK_NoteReports_Downloads] FOREIGN KEY([DownloaderID])
REFERENCES [dbo].[Downloads] ([ID])
GO
ALTER TABLE [dbo].[NoteReports] CHECK CONSTRAINT [FK_NoteReports_Downloads]
GO
ALTER TABLE [dbo].[NoteReports]  WITH CHECK ADD  CONSTRAINT [FK_NoteReports_SellNotes] FOREIGN KEY([NoteID])
REFERENCES [dbo].[SellNotes] ([ID])
GO
ALTER TABLE [dbo].[NoteReports] CHECK CONSTRAINT [FK_NoteReports_SellNotes]
GO
ALTER TABLE [dbo].[NoteReports]  WITH CHECK ADD  CONSTRAINT [FK_NoteReports_Users] FOREIGN KEY([ReportedByID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[NoteReports] CHECK CONSTRAINT [FK_NoteReports_Users]
GO
ALTER TABLE [dbo].[NoteReviews]  WITH CHECK ADD  CONSTRAINT [FK_NoteReviews_Downloads] FOREIGN KEY([DownloadsID])
REFERENCES [dbo].[Downloads] ([ID])
GO
ALTER TABLE [dbo].[NoteReviews] CHECK CONSTRAINT [FK_NoteReviews_Downloads]
GO
ALTER TABLE [dbo].[NoteReviews]  WITH CHECK ADD  CONSTRAINT [FK_NoteReviews_SellNotes] FOREIGN KEY([NoteID])
REFERENCES [dbo].[SellNotes] ([ID])
GO
ALTER TABLE [dbo].[NoteReviews] CHECK CONSTRAINT [FK_NoteReviews_SellNotes]
GO
ALTER TABLE [dbo].[NoteReviews]  WITH CHECK ADD  CONSTRAINT [FK_NoteReviews_Users] FOREIGN KEY([ReviewedByID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[NoteReviews] CHECK CONSTRAINT [FK_NoteReviews_Users]
GO
ALTER TABLE [dbo].[SellNoteAttachments]  WITH CHECK ADD  CONSTRAINT [FK_SellNoteAttachments_SellNotes] FOREIGN KEY([NoteID])
REFERENCES [dbo].[SellNotes] ([ID])
GO
ALTER TABLE [dbo].[SellNoteAttachments] CHECK CONSTRAINT [FK_SellNoteAttachments_SellNotes]
GO
ALTER TABLE [dbo].[SellNotes]  WITH CHECK ADD  CONSTRAINT [FK_SellNotes_Countries] FOREIGN KEY([Country])
REFERENCES [dbo].[Countries] ([ID])
GO
ALTER TABLE [dbo].[SellNotes] CHECK CONSTRAINT [FK_SellNotes_Countries]
GO
ALTER TABLE [dbo].[SellNotes]  WITH CHECK ADD  CONSTRAINT [FK_SellNotes_NoteCategories] FOREIGN KEY([Category])
REFERENCES [dbo].[NoteCategories] ([ID])
GO
ALTER TABLE [dbo].[SellNotes] CHECK CONSTRAINT [FK_SellNotes_NoteCategories]
GO
ALTER TABLE [dbo].[SellNotes]  WITH CHECK ADD  CONSTRAINT [FK_SellNotes_NoteTypes] FOREIGN KEY([NoteType])
REFERENCES [dbo].[NoteTypes] ([ID])
GO
ALTER TABLE [dbo].[SellNotes] CHECK CONSTRAINT [FK_SellNotes_NoteTypes]
GO
ALTER TABLE [dbo].[SellNotes]  WITH CHECK ADD  CONSTRAINT [FK_SellNotes_Reference] FOREIGN KEY([Status])
REFERENCES [dbo].[Reference] ([ID])
GO
ALTER TABLE [dbo].[SellNotes] CHECK CONSTRAINT [FK_SellNotes_Reference]
GO
ALTER TABLE [dbo].[SellNotes]  WITH CHECK ADD  CONSTRAINT [FK_SellNotes_Users] FOREIGN KEY([SellerID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[SellNotes] CHECK CONSTRAINT [FK_SellNotes_Users]
GO
ALTER TABLE [dbo].[SellNotes]  WITH CHECK ADD  CONSTRAINT [FK_SellNotes_Users1] FOREIGN KEY([ActionedBy])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[SellNotes] CHECK CONSTRAINT [FK_SellNotes_Users1]
GO
ALTER TABLE [dbo].[SellNotes]  WITH CHECK ADD  CONSTRAINT [FK_SellNotes_Users2] FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[SellNotes] CHECK CONSTRAINT [FK_SellNotes_Users2]
GO
ALTER TABLE [dbo].[SellNotes]  WITH CHECK ADD  CONSTRAINT [FK_SellNotes_Users3] FOREIGN KEY([RejectedBy])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[SellNotes] CHECK CONSTRAINT [FK_SellNotes_Users3]
GO
ALTER TABLE [dbo].[UserProfile]  WITH CHECK ADD  CONSTRAINT [FK_UserProfile_Gender] FOREIGN KEY([Gender])
REFERENCES [dbo].[Gender] ([ID])
GO
ALTER TABLE [dbo].[UserProfile] CHECK CONSTRAINT [FK_UserProfile_Gender]
GO
ALTER TABLE [dbo].[UserProfile]  WITH CHECK ADD  CONSTRAINT [FK_UserProfile_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[UserProfile] CHECK CONSTRAINT [FK_UserProfile_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserRoles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[UserRoles] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserRoles]
GO
/****** Object:  StoredProcedure [dbo].[GetCategoryData]    Script Date: 12-04-2021 12:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetCategoryData]
As
Begin
	select NC.ID,NC.Name As Category,NC.Description,NC.CreatedDate As DateAdded,(UD.FirstName+' '+UD.LastName)As AddedBy
	,NC.IsActive As Active from NoteCategories As NC 
	left join
	(
		select * from Users As U
	)As UD
	on NC.createdby = UD.ID
End
GO
/****** Object:  StoredProcedure [dbo].[GetCountryData]    Script Date: 12-04-2021 12:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetCountryData]
As
Begin
	select C.ID,C.Name As CountryName,C.CountryCode,C.CreatedDate As DateAdded,(UD.FirstName+' '+UD.LastName)As AddedBy
	,C.IsActive As Active from Countries As C 
	left join
	(
		select * from Users As U
	)As UD
	on C.createdby = UD.ID
End
GO
/****** Object:  StoredProcedure [dbo].[getDahboardData]    Script Date: 12-04-2021 12:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getDahboardData]
AS
Begin
	Select S.ID,S.Title,(select CG.Name from [dbo].[NoteCategories] As CG where S.Category = CG.ID) As Category,S.IsPaid,
	S.SellingPrice,S.PublishedDate,DS.NumberOfDownload,(U.FirstName+' '+U.LastName) As Publisher from [dbo].[SellNotes] As S
		LEFT JOIN 
		(
		SELECT NVN.NoteID,COUNT(NVN.ID) As NumberOfDownload FROM [dbo].[Downloads] AS NVN GROUP BY NVN.NoteID
		) AS DS
		ON S.ID = DS.NoteID
		LEFT JOIN
		(
		SELECT UP.ID,UP.FirstName,UP.LastName FROM [dbo].[Users] AS UP 
		) AS U
		ON S.SellerID = U.ID
		where S.Status = (Select id from [dbo].[Reference] where Value = 'Approved')

END
GO
/****** Object:  StoredProcedure [dbo].[GetDownloadedNotesData]    Script Date: 12-04-2021 12:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetDownloadedNotesData]
--declare
@NoteID INT = 0,
@SellerID INT = 0,
@DownloaderID INT = 0
As
Begin
			select D.ID,D.NoteID,D.NoteTitle,D.NoteCategory,D.Downloader As BuyerID,D.Seller AS SellerID,D.IsPaid AS SellType 
			,D.PurchasedPrice,D.AttachmentDownloadDate,D.IsAttachmentDownloaded,
			(UD.FirstName+' '+UD.LastName)AS SellerName,(UD1.FirstName+' '+UD1.LastName)AS BuyerName
			from [NoteMarketPlace].[dbo].[Downloads] As D
			left join 
			(
			select * from [NoteMarketPlace].[dbo].[Users] As U
			)As UD
			on D.Seller = UD.ID
			left join 
			(
			select * from [NoteMarketPlace].[dbo].[Users] As U
			)As UD1
			on D.Downloader = UD1.ID
			
		
		
		--where ((D.Seller = @SellerID OR @SellerID = 0) And D.IsAttachmentDownloaded = 1) 
		--And ((D.Downloader = @DownloaderID OR @DownloaderID = 0) And D.IsAttachmentDownloaded = 1)
		--And ((D.NoteID = @NoteID OR @NoteID = 0) And D.IsAttachmentDownloaded = 1)

		where (D.Seller = @SellerID OR @SellerID = 0)
		And (D.Downloader = @DownloaderID OR @DownloaderID = 0)
		And (D.NoteID = @NoteID OR @NoteID = 0)
		And (D.IsAttachmentDownloaded = 1)
		
				
End
GO
/****** Object:  StoredProcedure [dbo].[GetMembersData]    Script Date: 12-04-2021 12:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetMembersData]
--declare

As
Begin
	select U.ID,U.FirstName,U.LastName,U.EmailID,U.CreatedDate,NUR.NotesUnderReview,PN.PublishedNotes,
	 DU.DownloadedNote,DU1.TotalExpenses,DU2.TotalEarnings from [NoteMarketPlace].[dbo].[Users] As U
		left join
		(
		select D.Downloader,Count(D.ID)As DownloadedNote  from 
		[NoteMarketPlace].[dbo].[Downloads] As D where D.IsSellerHasAllowedDownloads = 1 and IsAttachmentDownloaded =1  group by D.Downloader
		) As DU
		on U.ID = DU.Downloader
		left join
		(
		select D1.Downloader,sum(D1.PurchasedPrice) As TotalExpenses from 
		[NoteMarketPlace].[dbo].[Downloads] As D1 where D1.IsSellerHasAllowedDownloads = 1   group by D1.Downloader
		) As DU1
		on U.ID = DU1.Downloader
		left join
		(
		select D2.Seller,sum(D2.PurchasedPrice) As TotalEarnings from 
		[NoteMarketPlace].[dbo].[Downloads] As D2 where D2.IsSellerHasAllowedDownloads = 1   group by D2.Seller
		) As DU2
		on U.ID = DU2.Seller
		left join
		(
		select count(SN.ID)As NotesUnderReview,SN.SellerID from [NoteMarketPlace].[dbo].[SellNotes] As SN 
		where (SN.Status = (select id from [NoteMarketPlace].[dbo].[Reference] where value='Submitted For Review') )
		OR (SN.Status =(select id from [NoteMarketPlace].[dbo].[Reference] where value='In Review') ) group by SN.SellerID
		)As NUR
		on U.ID = NUR.SellerID
		left join
		(
		select count(SN.ID)As PublishedNotes,SN.SellerID from [NoteMarketPlace].[dbo].[SellNotes] As SN 
		where (SN.Status = (select id from [NoteMarketPlace].[dbo].[Reference] where value='Approved') ) group by SN.SellerID
		)As PN
		on U.ID = PN.SellerID
		
		where U.RoleID = (select id from [NoteMarketPlace].[dbo].[UserRoles] where Name = 'Member')
		--where PN.SellerID = U.ID
End
GO
/****** Object:  StoredProcedure [dbo].[GetMembersDetails]    Script Date: 12-04-2021 12:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetMembersDetails]
--declare
@ID INT = 0
As
Begin
	select S.ID,S.Title,(select NC.Name from [NoteMarketPlace].[dbo].[NoteCategories] As NC where S.Category = NC.ID) As Category
		,(select St.Value from [NoteMarketPlace].[dbo].[Reference] As St where S.Status = St.ID)As Status
		,S.CreatedDate,S.PublishedDate,DD.NumberOfDownload,
		DD1.TotalEarnings
		from [NoteMarketPlace].[dbo].[SellNotes] As S
		left join
		(
			select noteID,count(D.NoteID) As NumberOfDownload from [NoteMarketPlace].[dbo].[Downloads] As D
			where D.IsAttachmentDownloaded = 1 
			  group by D.NoteID 
			
		)As DD
		on S.ID = DD.NoteID 
		left join
		(
			select noteID,sum(D1.PurchasedPrice)As TotalEarnings from [NoteMarketPlace].[dbo].[Downloads] AS D1 
			where D1.IsSellerHasAllowedDownloads = 1 group by D1.NoteID
		) As DD1
		on S.ID = DD1.NoteID

		where (S.SellerID = @ID OR @ID = 0 And S.Status = (select St.ID from [NoteMarketPlace].[dbo].[Reference] As St where St.Value ='Approved')) OR
				(S.SellerID = @ID OR @ID = 0 And S.Status = (select St.ID from [NoteMarketPlace].[dbo].[Reference] As St where St.Value ='Submitted For Review')) OR
				(S.SellerID = @ID OR @ID = 0 And S.Status = (select St.ID from [NoteMarketPlace].[dbo].[Reference] As St where St.Value ='In Review'))

End
GO
/****** Object:  StoredProcedure [dbo].[GetNotesUnderReviewData]    Script Date: 12-04-2021 12:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetNotesUnderReviewData]
--declare
@data varchar(200) = null
As
Begin
	Select S.ID,SellerID,S.Title,(select CG.Name from [dbo].[NoteCategories] As CG where S.Category = CG.ID) As Category,
		S.CreatedDate As DateAdded,(U.FirstName+' '+U.LastName) As Seller,
		(select St.Value from [dbo].[Reference] As St where S.Status = St.ID) As Status from [dbo].[SellNotes] As S
		
			LEFT JOIN
			(
			SELECT UP.ID,UP.FirstName,UP.LastName FROM [dbo].[Users] AS UP 
			) AS U
			ON S.SellerID = U.ID
			where	 ((S.SellerID = @data OR @data is null) And
					(S.Status = (Select id from [dbo].[Reference] where Value = 'Submitted For Review'))) OR 
					((S.SellerID = @data OR @data is null) And
					(S.Status = (Select id from [dbo].[Reference] where Value = 'In Review')))
End
GO
/****** Object:  StoredProcedure [dbo].[GetNoteTypeData]    Script Date: 12-04-2021 12:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetNoteTypeData]
As
Begin
	select NT.ID,NT.Name As Type,NT.Description,NT.CreatedDate As DateAdded,(UD.FirstName+' '+UD.LastName)As AddedBy
	,NT.IsActive As Active from NoteTypes As NT 
	left join
	(
		select * from Users As U
	)As UD
	on NT.createdby = UD.ID
End
GO
/****** Object:  StoredProcedure [dbo].[GetPublishedNotesData]    Script Date: 12-04-2021 12:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetPublishedNotesData]
--declare
@data varchar(200) = null
As
Begin
	Select S.ID,S.SellerID,S.Title,S.IsPaid,S.SellingPrice,(select CG.Name from [NoteMarketPlace].[dbo].[NoteCategories] As CG where S.Category = CG.ID) As Category,
		S.PublishedDate,(U.FirstName+' '+U.LastName) As Seller,STD.Value,NOD.numberOfDownload,
		(select (UD.FirstName+' '+UD.LastName) As ApprovedBy from [NoteMarketPlace].[dbo].[Users] As UD where S.ApprovedBy = UD.ID) As ApprovedBy
		 from [NoteMarketPlace].[dbo].[SellNotes] As S
		
			 left JOIN
			(
			SELECT UP.ID,UP.FirstName,UP.LastName FROM [NoteMarketPlace].[dbo].[Users] AS UP 
			) AS U
			ON S.SellerID = U.ID
			left join 
			(
			select St.Value,St.ID from [NoteMarketPlace].[dbo].[Reference] As St where St.Value = 'Approved'
			) As STD
			on S.Status = STD.ID
			left join
			(
				select Count(NoteID) As NumberOfDownload,NoteID from [NoteMarketPlace].[dbo].[Downloads] where IsAttachmentDownloaded = 1
				group by NoteID 
				
			) As NOD
			on S.ID = NOD.NoteID

			where (S.SellerID = @data OR @data is null) And (S.Status = (select id from [NoteMarketPlace].[dbo].[Reference] where Value = 'Approved'))
End
GO
/****** Object:  StoredProcedure [dbo].[GetRejectedNotesData]    Script Date: 12-04-2021 12:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetRejectedNotesData]
--declare
@data varchar(200) = null
As
Begin
	Select S.ID,S.SellerID,S.Title,(select CG.Name from [NoteMarketPlace].[dbo].[NoteCategories] As CG where S.Category = CG.ID) As Category,
		S.ModifiedDate As DateEdited,(U.FirstName+' '+U.LastName) As Seller,S.AdminRemarks As Remarks,
		(select (UD.FirstName+' '+UD.LastName) from [NoteMarketPlace].[dbo].[Users] As UD where S.RejectedBy = UD.ID) As RejectedBy
		 from [NoteMarketPlace].[dbo].[SellNotes] As S
		
			 left JOIN
			(
			SELECT UP.ID,UP.FirstName,UP.LastName FROM [NoteMarketPlace].[dbo].[Users] AS UP 
			) AS U
			ON S.SellerID = U.ID
			
			where (S.SellerID = @data OR @data is null) And (S.Status = (select id from [NoteMarketPlace].[dbo].[Reference] where Value = 'Rejected'))
			
End
GO
/****** Object:  StoredProcedure [dbo].[NewGetDashboadrd]    Script Date: 12-04-2021 12:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ALTER procedure [dbo].[getDahboardData]
--declare 
--@data INT = 0
--AS
CREATE procedure [dbo].[NewGetDashboadrd]
@data INT = 0
As
Begin
	IF(@data = 0)
Begin
	Select S.ID,S.Title,(select CG.Name from [dbo].[NoteCategories] As CG where S.Category = CG.ID) As Category,S.IsPaid,
	S.AttachmentSize,
	S.SellingPrice,S.PublishedDate,DS.NumberOfDownload,(U.FirstName+' '+U.LastName) As Publisher from [dbo].[SellNotes] As S
		LEFT JOIN 
		(
		SELECT NVN.NoteID,COUNT(NVN.ID) As NumberOfDownload FROM [dbo].[Downloads] AS NVN 
		where NVN.IsAttachmentDownloaded = 1
		GROUP BY NVN.NoteID
		) AS DS
		ON S.ID = DS.NoteID
		LEFT JOIN
		(
		SELECT UP.ID,UP.FirstName,UP.LastName FROM [dbo].[Users] AS UP 
		) AS U
		ON S.SellerID = U.ID
		
		where (S.Status = (Select id from [dbo].[Reference] where Value = 'Approved'))
			And (S.PublishedDate >= Dateadd(Month, Datediff(Month, 0, DATEADD(m, -0,
			current_timestamp)), 0)) order by S.PublishedDate desc
	
END
-- for last month
IF(@data = 1)
Begin
	Select S.ID,S.Title,(select CG.Name from [dbo].[NoteCategories] As CG where S.Category = CG.ID) As Category,S.IsPaid,
	S.AttachmentSize,
	S.SellingPrice,S.PublishedDate,DS.NumberOfDownload,(U.FirstName+' '+U.LastName) As Publisher from [dbo].[SellNotes] As S
		LEFT JOIN 
		(
		SELECT NVN.NoteID,COUNT(NVN.ID) As NumberOfDownload FROM [dbo].[Downloads] AS NVN 
		where NVN.IsAttachmentDownloaded = 1
		GROUP BY NVN.NoteID
		) AS DS
		ON S.ID = DS.NoteID
		LEFT JOIN
		(
		SELECT UP.ID,UP.FirstName,UP.LastName FROM [dbo].[Users] AS UP 
		) AS U
		ON S.SellerID = U.ID
		
		where (S.Status = (Select id from [dbo].[Reference] where Value = 'Approved'))
			And (S.PublishedDate >= Dateadd(Month, Datediff(Month, 0, DATEADD(m, -1,
			current_timestamp)), 0)) order by S.PublishedDate desc
	
END

--for last two months
IF(@data = 2)
Begin
	Select S.ID,S.Title,(select CG.Name from [dbo].[NoteCategories] As CG where S.Category = CG.ID) As Category,S.IsPaid,
	S.AttachmentSize,
	S.SellingPrice,S.PublishedDate,DS.NumberOfDownload,(U.FirstName+' '+U.LastName) As Publisher from [dbo].[SellNotes] As S
		LEFT JOIN 
		(
		SELECT NVN.NoteID,COUNT(NVN.ID) As NumberOfDownload FROM [dbo].[Downloads] AS NVN 
		where NVN.IsAttachmentDownloaded = 1
		GROUP BY NVN.NoteID
		) AS DS
		ON S.ID = DS.NoteID
		LEFT JOIN
		(
		SELECT UP.ID,UP.FirstName,UP.LastName FROM [dbo].[Users] AS UP 
		) AS U
		ON S.SellerID = U.ID
		
		where (S.Status = (Select id from [dbo].[Reference] where Value = 'Approved'))
			And (S.PublishedDate >= Dateadd(Month, Datediff(Month, 0, DATEADD(m, -2,
			current_timestamp)), 0)) order by S.PublishedDate desc
	
END

--for last three months
IF(@data = 3)
Begin
	Select S.ID,S.Title,(select CG.Name from [dbo].[NoteCategories] As CG where S.Category = CG.ID) As Category,S.IsPaid,
	S.AttachmentSize,
	S.SellingPrice,S.PublishedDate,DS.NumberOfDownload,(U.FirstName+' '+U.LastName) As Publisher from [dbo].[SellNotes] As S
		LEFT JOIN 
		(
		SELECT NVN.NoteID,COUNT(NVN.ID) As NumberOfDownload FROM [dbo].[Downloads] AS NVN 
		where NVN.IsAttachmentDownloaded = 1
		GROUP BY NVN.NoteID
		) AS DS
		ON S.ID = DS.NoteID
		LEFT JOIN
		(
		SELECT UP.ID,UP.FirstName,UP.LastName FROM [dbo].[Users] AS UP 
		) AS U
		ON S.SellerID = U.ID
		
		where (S.Status = (Select id from [dbo].[Reference] where Value = 'Approved'))
			And (S.PublishedDate >= Dateadd(Month, Datediff(Month, 0, DATEADD(m, -3,
			current_timestamp)), 0)) order by S.PublishedDate desc
	
END

--for last four months
IF(@data = 4)
Begin
	Select S.ID,S.Title,(select CG.Name from [dbo].[NoteCategories] As CG where S.Category = CG.ID) As Category,S.IsPaid,
	S.AttachmentSize,
	S.SellingPrice,S.PublishedDate,DS.NumberOfDownload,(U.FirstName+' '+U.LastName) As Publisher from [dbo].[SellNotes] As S
		LEFT JOIN 
		(
		SELECT NVN.NoteID,COUNT(NVN.ID) As NumberOfDownload FROM [dbo].[Downloads] AS NVN 
		where NVN.IsAttachmentDownloaded = 1
		GROUP BY NVN.NoteID
		) AS DS
		ON S.ID = DS.NoteID
		LEFT JOIN
		(
		SELECT UP.ID,UP.FirstName,UP.LastName FROM [dbo].[Users] AS UP 
		) AS U
		ON S.SellerID = U.ID
		
		where (S.Status = (Select id from [dbo].[Reference] where Value = 'Approved'))
			And (S.PublishedDate >= Dateadd(Month, Datediff(Month, 0, DATEADD(m, -4,
			current_timestamp)), 0)) order by S.PublishedDate desc
	
END

--for last five months
IF(@data = 5)
Begin
	Select S.ID,S.Title,(select CG.Name from [dbo].[NoteCategories] As CG where S.Category = CG.ID) As Category,S.IsPaid,
	S.AttachmentSize,
	S.SellingPrice,S.PublishedDate,DS.NumberOfDownload,(U.FirstName+' '+U.LastName) As Publisher from [dbo].[SellNotes] As S
		LEFT JOIN 
		(
		SELECT NVN.NoteID,COUNT(NVN.ID) As NumberOfDownload FROM [dbo].[Downloads] AS NVN 
		where NVN.IsAttachmentDownloaded = 1
		GROUP BY NVN.NoteID
		) AS DS
		ON S.ID = DS.NoteID
		LEFT JOIN
		(
		SELECT UP.ID,UP.FirstName,UP.LastName FROM [dbo].[Users] AS UP 
		) AS U
		ON S.SellerID = U.ID
		
		where (S.Status = (Select id from [dbo].[Reference] where Value = 'Approved'))
			And (S.PublishedDate >= Dateadd(Month, Datediff(Month, 0, DATEADD(m, -5,
			current_timestamp)), 0)) order by S.PublishedDate desc
	
END

--for last six months
IF(@data = 6)
Begin
	Select S.ID,S.Title,(select CG.Name from [dbo].[NoteCategories] As CG where S.Category = CG.ID) As Category,S.IsPaid,
	S.AttachmentSize,
	S.SellingPrice,S.PublishedDate,DS.NumberOfDownload,(U.FirstName+' '+U.LastName) As Publisher from [dbo].[SellNotes] As S
		LEFT JOIN 
		(
		SELECT NVN.NoteID,COUNT(NVN.ID) As NumberOfDownload FROM [dbo].[Downloads] AS NVN 
		where NVN.IsAttachmentDownloaded = 1
		GROUP BY NVN.NoteID
		) AS DS
		ON S.ID = DS.NoteID
		LEFT JOIN
		(
		SELECT UP.ID,UP.FirstName,UP.LastName FROM [dbo].[Users] AS UP 
		) AS U
		ON S.SellerID = U.ID
		
		where (S.Status = (Select id from [dbo].[Reference] where Value = 'Approved'))
			And (S.PublishedDate >= Dateadd(Month, Datediff(Month, 0, DATEADD(m, -6,
			current_timestamp)), 0)) order by S.PublishedDate desc
	 
END

END
GO
/****** Object:  StoredProcedure [dbo].[NewGetMembersData]    Script Date: 12-04-2021 12:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[NewGetMembersData]
--declare

As
Begin
	select U.ID,U.FirstName,U.LastName,U.EmailID,U.CreatedDate,NUR.NotesUnderReview,PN.PublishedNotes,
	 DU.DownloadedNote,DU1.TotalExpenses,DU2.TotalEarnings from [NoteMarketPlace].[dbo].[Users] As U
		left join
		(
		select D.Downloader,Count(D.ID)As DownloadedNote  from 
		[NoteMarketPlace].[dbo].[Downloads] As D where D.IsSellerHasAllowedDownloads = 1 and IsAttachmentDownloaded =1  group by D.Downloader
		) As DU
		on U.ID = DU.Downloader
		left join
		(
		select D1.Downloader,sum(D1.PurchasedPrice) As TotalExpenses from 
		[NoteMarketPlace].[dbo].[Downloads] As D1 where D1.IsSellerHasAllowedDownloads = 1   group by D1.Downloader
		) As DU1
		on U.ID = DU1.Downloader
		left join
		(
		select D2.Seller,sum(D2.PurchasedPrice) As TotalEarnings from 
		[NoteMarketPlace].[dbo].[Downloads] As D2 where D2.IsSellerHasAllowedDownloads = 1   group by D2.Seller
		) As DU2
		on U.ID = DU2.Seller
		left join
		(
		select count(SN.ID)As NotesUnderReview,SN.SellerID from [NoteMarketPlace].[dbo].[SellNotes] As SN 
		where (SN.Status = (select id from [NoteMarketPlace].[dbo].[Reference] where value='Submitted For Review') )
		OR (SN.Status =(select id from [NoteMarketPlace].[dbo].[Reference] where value='In Review') ) group by SN.SellerID
		)As NUR
		on U.ID = NUR.SellerID
		left join
		(
		select count(SN.ID)As PublishedNotes,SN.SellerID from [NoteMarketPlace].[dbo].[SellNotes] As SN 
		where (SN.Status = (select id from [NoteMarketPlace].[dbo].[Reference] where value='Approved') ) group by SN.SellerID
		)As PN
		on U.ID = PN.SellerID
		
		where U.RoleID = (select id from [NoteMarketPlace].[dbo].[UserRoles] where Name = 'Member')
		--where PN.SellerID = U.ID
End
GO
/****** Object:  StoredProcedure [dbo].[NewGetMembersDetails]    Script Date: 12-04-2021 12:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[NewGetMembersDetails]
--declare
@ID INT = 0
As
Begin
	select S.ID,S.Title,(select NC.Name from [NoteMarketPlace].[dbo].[NoteCategories] As NC where S.Category = NC.ID) As Category
		,(select St.Value from [NoteMarketPlace].[dbo].[Reference] As St where S.Status = St.ID)As Status
		,S.CreatedDate,S.PublishedDate,DD.NumberOfDownload,
		DD1.TotalEarnings
		from [NoteMarketPlace].[dbo].[SellNotes] As S
		left join
		(
			select noteID,count(D.NoteID) As NumberOfDownload from [NoteMarketPlace].[dbo].[Downloads] As D
			where D.IsAttachmentDownloaded = 1 
			  group by D.NoteID 
			
		)As DD
		on S.ID = DD.NoteID 
		left join
		(
			select noteID,sum(D1.PurchasedPrice)As TotalEarnings from [NoteMarketPlace].[dbo].[Downloads] AS D1 
			where D1.IsSellerHasAllowedDownloads = 1 group by D1.NoteID
		) As DD1
		on S.ID = DD1.NoteID

		where ((S.SellerID = @ID OR @ID = 0) And (S.Status = (select St.ID from [NoteMarketPlace].[dbo].[Reference] As St where St.Value ='Approved'))) OR
				((S.SellerID = @ID OR @ID = 0) And (S.Status = (select St.ID from [NoteMarketPlace].[dbo].[Reference] As St where St.Value ='Submitted For Review'))) OR
				((S.SellerID = @ID OR @ID = 0) And (S.Status = (select St.ID from [NoteMarketPlace].[dbo].[Reference] As St where St.Value ='In Review')))

End
GO
/****** Object:  StoredProcedure [dbo].[NewGetNotesUnderReviewData]    Script Date: 12-04-2021 12:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[NewGetNotesUnderReviewData]
@data varchar(200) = null
As
Begin
	Select S.ID,SellerID,S.Title,(select CG.Name from [dbo].[NoteCategories] As CG where S.Category = CG.ID) As Category,
		S.CreatedDate As DateAdded,(U.FirstName+' '+U.LastName) As Seller,
		(select St.Value from [dbo].[Reference] As St where S.Status = St.ID) As Status from [dbo].[SellNotes] As S
		
			LEFT JOIN
			(
			SELECT UP.ID,UP.FirstName,UP.LastName FROM [dbo].[Users] AS UP 
			) AS U
			ON S.SellerID = U.ID
			where	 ((S.SellerID = @data OR @data is null) And
					(S.Status = (Select id from [dbo].[Reference] where Value = 'Submitted For Review'))) OR 
					((S.SellerID = @data OR @data is null) And
					(S.Status = (Select id from [dbo].[Reference] where Value = 'In Review')))
End
GO
/****** Object:  StoredProcedure [dbo].[NewGetSellerNotesDetails]    Script Date: 12-04-2021 12:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[NewGetSellerNotesDetails]
--declare
@FK_Type int = 0,
@FK_Category int = 0,
@FK_Country int = 0,
@FK_University nvarchar(200) = null,
@FK_Course nvarchar(200) = null,
@PageSize INT = 2,
@PageNumber INT = 1,
@Search nvarchar(200) = null,
@Rating nvarchar(100) = null
As 
Begin 
	SELECT S.ID,S.SellerID,S.DisplayPicture,S.Title,S.Category,S.Country,S.CreatedDate,S.UniversityName,S.NumberOfPages,S.PublishedDate,(SELECT C.Name FROM Countries AS C WHERE C.ID = S.Country) AS CountyName,
	(SELECT COUNT(SN.ID) FROM SellNotes AS SN 
		LEFT JOIN 
		(
		SELECT AVG(NVN.ratings) AS RatingNew,NVN.NoteID FROM [dbo].[NoteReviews] AS NVN GROUP BY NVN.NoteID
		) AS DSN
		ON SN.ID = DSN.NoteID
		WHERE (SN.NoteType = @FK_Type OR @FK_Type = 0) AND (SN.Category = @FK_Category OR @FK_Category = 0)
			And (SN.Country = @FK_Country OR @FK_Country = 0) AND (SN.UniversityName = @FK_University OR @FK_University is null)
			And (SN.Course = @FK_Course OR @FK_Course is null) AND (Status = (select id from Reference where Value = 'Approved'))
			And (SN.Title Like '%'+@Search+'%' OR @Search is null) And (DSN.RatingNew >= @Rating OR @Rating is null)) AS TotalCount,DM.Report,DS.Rating,DS.TotalRating from SellNotes AS S
	LEFT JOIN 
	(
	SELECT COUNT(NR.NoteID) AS Report,NR.NoteID FROM [dbo].[NoteReports] AS NR GROUP BY NR.NoteID
	) AS DM
	ON S.ID = DM.NoteID
	LEFT JOIN 
	(
	SELECT AVG(NV.ratings) AS Rating, COUNT(NV.Ratings) As TotalRating,NV.NoteID FROM [dbo].[NoteReviews] AS NV GROUP BY NV.NoteID
	) AS DS
	ON S.ID = DS.NoteID
	 WHERE (S.NoteType = @FK_Type OR @FK_Type = 0) AND (S.Category = @FK_Category OR @FK_Category = 0)
			And (S.Country = @FK_Country OR @FK_Country = 0) AND (S.UniversityName = @FK_University OR @FK_University is null)
			And (S.Course = @FK_Course OR @FK_Course is null) AND (Status = (select id from Reference where Value = 'Approved'))
			And (S.Title Like '%'+@Search+'%' OR @Search is null) And (DS.Rating >= @Rating OR @Rating is null)
	ORDER BY S.ID DESC
	OFFSET (@PageNumber - 1) * @PageSize ROWS
	FETCH NEXT @PageSize ROWS ONLY

End
GO
USE [master]
GO
