@model WebApplication5MVCdemo.CommanClasses.RejectedNotesViewModel

@{
    ViewBag.Title = "RejectedNotes";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container manage-admin note-U-R">
    <div class="row">
        <div class="col-12">
            <h3>Rejected Notes</h3>
        </div>
        <div class="col-xl-5 col-lg-4 col-md-3 col-sm-3 col-12 NUR">
            @Html.LabelFor(x => x.Seller)
            @Html.DropDownListFor(x => x.Seller, Model.SellerName, "Select Seller", new { @class = "form-control" })
        </div>
        <div class="pl-0 m-left-auto align-items-end col-xl-7 col-lg-8 col-md-9 col-sm-9 col-12 row search-side search-side-NUR">
            <span><img src="images/search-icon.png" alt=""></span>
            <input class="col-sm-7 col-7 m-left-auto" type="text" id="inputSearch" placeholder="Search">
            <button type="submit" id="InutSearchButton" class="col-sm-3 col-3 btn btn-search">
                SEARCH
            </button>
        </div>
    </div>
    <div id="RejectedNotesPartialView"></div>
    
</div>


@section scripts {
    <script>
        $("#RejectedNotesDataTable").DataTable();
        $("#Seller").on("change", function () {
            BindSellNotesDetail()
        });
        $(document).ready(function () {
            BindSellNotesDetail()
        });
        function BindSellNotesDetail() {
            var sellerID = $("#Seller").val();
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetFilterSellerRejectedNotes", "Admin")",
                data: {
                    SellerId: sellerID
                },
                success: function (Result) {
                    $("#RejectedNotesPartialView").replaceWith(Result);
                    $("#RejectedNotesDataTable").DataTable();
                    oTable = $('#RejectedNotesDataTable').DataTable();
                    $('#InutSearchButton').click(function () {
                        oTable.search($("#inputSearch").val()).draw();
                    });
                    $('#RejectedNotesDataTable').DataTable().page.len(10).draw();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("sorry");
                }
            });
        }
    </script>
}


