
@{
    ViewBag.Title = "MemberDetail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container members-detail" style="margin-top: 70px">
    <div class="row" style="border-bottom: 1px solid #d1d1d1">
        <div class="col-12">
            <h3>Member Details</h3>
        </div>

        <div class="col-xl-6 col-12">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-12">
                    <img class="img-fluid" src="images/member.png" alt="">
                </div>
                <div class="col-md-9 col-sm-8 col-12 member-detail-info">
                    <div class="row right-border" style="padding-right: 10px">
                        <div class="col-5 title">First Name:</div>
                        <div class="col-7 detail">Richard</div>
                        <div class="col-5 title">Last Name:</div>
                        <div class="col-7 detail">Brown</div>
                        <div class="col-5 title">Email:</div>
                        <div class="col-7 detail">richardbrown77@gmail.com</div>
                        <div class="col-5 title">DOB:</div>
                        <div class="col-7 detail">13-08-1990</div>
                        <div class="col-5 title">Phone Number:</div>
                        <div class="col-7 detail">9876543210</div>
                        <div class="col-5 title">College/University:</div>
                        <div class="col-7 detail">University of California</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-12">
            <div class="row">
                <div class="offset-xl-1 col-12 member-detail-info">
                    <div class="row">
                        <div class="col-sm-4 col-5 title">Address 1:</div>
                        <div class="col-sm-8 col-7 detail">144-Diamond Height</div>
                        <div class="col-sm-4 col-5 title">Address 2:</div>
                        <div class="col-sm-8 col-7 detail">Star Colony</div>
                        <div class="col-sm-4 col-5 title">City:</div>
                        <div class="col-sm-8 col-7 detail">New York</div>
                        <div class="col-sm-4 col-5 title">State:</div>
                        <div class="col-sm-8 col-7 detail">New York State</div>
                        <div class="col-sm-4 col-5 title">Country:</div>
                        <div class="col-sm-8 col-7 detail">United State</div>
                        <div class="col-sm-4 col-5 title">Zip Code:</div>
                        <div class="col-sm-8 col-7 detail">11004-05</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container members-detail-bottom">
    <div class="row">
        <div class="col-12">
            <h6>Notes</h6>
        </div>
        <div class="col-12 table-scroll">
            <table class="table">
                <thead>
                    <tr>
                        <th class="srno">SR NO.</th>
                        <th>NOTE TITLE</th>
                        <th>CATEGORY</th>
                        <th>STATUS</th>
                        <th class="no1">DOWNLOADED NOTES</th>
                        <th class="no1">TOTAL EARNINGS</th>
                        <th>DATE ADDED</th>
                        <th>PUBLISHED DATE</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="srno">1</td>
                        <td class="note-title">Software Development</td>
                        <td>Computer</td>
                        <td>Published</td>
                        <td class="no">22</td>
                        <td class="no1">$177</td>
                        <td>09-10-2020, 10:10</td>
                        <td>09-10-2020, 10:10</td>
                        <td>
                            <div class="dropdown">
                                <button type="button" id="dropdownMenu3dot" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="images/dots.png" alt="">
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu3dot">
                                    <a class="dropdown-item" role="button" href="#">Download Notes</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

